# References:
# https://www.alsa-project.org/wiki/Asoundrc
# https://github.com/owntone/owntone-server/blob/master/README_ALSA.md

pcm.justboom_dmix  {
    type dmix
    ipc_key 1024             # need to be uniq value
    ipc_key_add_uid false    # multiple concurrent different users
    ipc_perm 0666            # multi-user sharing permissions

    slave {
        pcm "hw:0,0"         # points at the underlying device - could also simply be hw:0
        period_time 0
        period_size 5513     # from the output of aplay -v
        buffer_size 22052    # from the output of aplay -v
        rate 44100           # locked in sample rate for resampling on dmix device
    }
    hint.description "JustBoom DAC s/w mixing device"
}

ctl.justboom_dmix {
    type hw
    card 0                  # underlying device
    device 0
}
